model:
  1:
    description: "Transformer Mapping with image prefix length 10"
  2:
    description: "Transformer Mapping with image prefix length 5"
    # model params here (follow same structure)
    mapping:
      prefix_length: 5
  3:
    description: "Transformer Mapping with image prefix length 15"
    mapping:
      prefix_length: 15
  4:
    description: "MLP Mappping with image prefix length 10"
    mapping:
      type: "mlp"
  5:
    description: "MLP Mappping with image prefix length 5"
    mapping:
      type: "mlp"
      prefix_length: 5
  6:
    description: "MLP Mappping with image prefix length 15"
    mapping:
      type: "mlp"
      prefix_length: 15