model:
  1:
    description: "A base model configuration"
    # model params here (follow same structure)
    paths:
      embeddings_path: "${.data_dir}embeddings/"
    # path:
    #   embeddings_path: "${paths.data_dir}coco_embeddings/"
  2:
    # model params here (follow same structure)
    seed: 1234
    mapping:
      type: "mlp"
  3:
    validation:
      temperature: 0.7
      top_p: 0.8
    # model params here (follow same structure)
  4:
    image_captioning:
      freeze_gpt_weights: false
    # model params here
  5:  
    training:
      learning_rate: !!float 5e-5
      num_epochs: 10
    # model params here (follow same structure)