seed: 42
max_caption_length: 50

vision_encoder: "clip"
retrieval_augmentation: false

paths:
  data_dir: "coco_data/"
  embeddings_path: "${paths.data_dir}embeddings/"
  annotations_path: "${paths.data_dir}annotations/"
  checkpoints_path: "${paths.data_dir}checkpoints/"
  vector_db_path: "${paths.data_dir}faiss_db/"

mapping:
  type: "transformer"
  embed_dim: 512
  gpt_dim: 768
  prefix_length: 10
  hidden_length: 10

image_captioning:
  freeze_gpt_weights: true
  prefix_task_prompt: null

retrieval: # For Retrieval Augmented Training (RAT)
  top_k: 10
  top_i: 4
  aggregation_type: "mean"
  embed_dim: 512

training:
  batch_size: 128
  num_epochs: 3
  num_workers: 4
  learning_rate: !!float 1.0e-4
  num_warmup_steps: 0
  save_every_epoch: 1

validation:
  eval_every_epoch: 1
  batch_size: 128
  temperature: 0.0
  top_p: 0.9